<section id="3-numbers">
    <div class="container">
        <h2 class="section-title">Введіть 3 числа</h2>
        <div class="section-box" style="display: flex; flex-direction: column;">
            <ul class="input-list" style="display: flex; justify-content: space-between;">
                <li>
                    <label class="section-input-label"> 
                        <input type="number" class="section-input js-section-input" placeholder="Введіть число" />
                    </label>
                </li>
                <li>
                    <label class="section-input-label"> 
                        <input type="number" class="section-input js-section-input" placeholder="Введіть число" />
                    </label>
                </li>
                <li>
                    <label class="section-input-label"> 
                        <input type="number" class="section-input js-section-input" placeholder="Введіть число" />
                    </label>
                </li>
            </ul>
            <p class="biggest-number">Найбільше число, яке ви ввели - (число)</p>
        </div>
    </div>
    <div class="line"></div>
</section>