<section id="calculator">
    <div class="container">
        <h2 class="section-title">Калькулятор</h2>
        <div class="section-box">
            <label class="section-input-label"> 
                <input type="number" class="section-input js-section-input-1" placeholder="Введіть число" />
            </label>
            <ul class="button-list">
                <li class="button-list-item">
                    <button data-operation="+" class="math-opers-plus opers-button">+</button>
                </li>
                <li class="button-list-item">
                    <button data-operation="*" class="math-opers-multiply opers-button">*</button>
                </li>
                <li class="button-list-item">
                    <button data-operation="-" class="math-opers-minus opers-button">-</button>
                </li>
                <li class="button-list-item">
                    <button data-operation="/" class="math-opers-divide opers-button">/</button>
                </li>
            </ul>
            <label class="section-input-label"> 
                <input type="number" class="section-input js-section-input-2" placeholder="Введіть число" />
            </label>
            <button class="results-button">=</button>
            <p class="math-results">Результат</p>
        </div>
    </div>
    <div class="line"></div>
</section>