<footer class="footer">
    <div class="container">
        <div class="footer-box">
            <div class="footer-box-item">
                <img src="images/logo.png" alt="logo" style="width: 165px; height: 70px;">
            </div>
            <div class="footer-box-item">
                <ul class="footer-list">
                    <li class="footer-item">Тел: +38 (123) 456 78 90</li>
                    <li class="footer-item">E-Mail: codingmagic@gmail.com</li>
                    <li class="footer-item">Facebook: CodingMagic</li>
                    <li class="footer-item">Twitter: CodingMagic</li>
                    <li class="footer-item">Instagram: CodingMagic</li>
                </ul>
            </div>
            <div class="footer-box-item section-box">
                <form class="form">
                    <label class="section-input-label"> 
                        <input type="string" class="section-input js-section-input footer-input" placeholder="Ваша ел. адреса..." />
                    </label>
                    <button type="button" class="footer-button">Підписатись</button>
                </form>
                <p class="footer-text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
            </div>
        </div>
    </div>
</footer>