<section id="guess-the-number">
    <div class="container">
        <h2 class="section-title">Вгадай число, яке загадав комп’ютер</h2>
        <div class="section-box">
            <form class="form" style="position: relative;">
                <label class="section-input-label"> 
                    <input type="number" class="section-input js-section-input" placeholder="Введіть число" />
                </label>
                <button type="button" class="input-btn js-input-btn" style="background-image: url('images/lupe.png'); background-repeat: no-repeat; background-position: center;"></button>
            </form>
            <p class="section-text js-section-text">Вітаю, ви вгадали число! (number) </p>
        </div>
    </div>
    <div class="line"></div>
</section>