<article class="header">
  <div class="container header-structure">
    <a href="#" class="logo">
      <img src="images/logo.png" alt="Logo" />
    </a>
    <ul class="header-first-list">
      <li class="header-first-item header-first-item--dropdown">
        <p class="header-first-text">Інтерактив ↓</p>
        <ul class="header-first-item-list">
          <li class="header-first-item-item">
            <a href="#" class="header-first-text">Числовий</a>
          </li>
          <li class="header-first-item-item">
            <a href="#" class="header-first-text">Ігровий</a>
          </li>
          <li class="header-first-item-item">
            <a href="#" class="header-first-text">Ознайомчий</a>
          </li>
        </ul>
      </li>
      <li class="header-first-item">
        <p class="header-first-text">Наша команда</p>
      </li>
      <li class="header-first-item">
        <p class="header-first-text">Контакти</p>
      </li>
    </ul>
    <ul class="header-second-list">
      <li class="header-second-item">
        <button type="button" class="header-toogle-button">
          <img src="images/sun.png" class="img-sun img-button-header" alt="light-mode">
          <img src="images/moon.png" class="img-moon img-button-header" alt="dark-mode"> <!-- turned of right now -in line 43 -->
          <!-- Toggle Button -->
        </button>
      </li>
      <li class="header-second-item">
        <p class="header-second-text header-first-text js-header-second-text">Вітаємо, User!</p>
      </li>
    </ul>
  </div>
</article>
<!--  -->
