<div class="backdrop" data-modal="">
  <div class="register-modal">
    <button type="button" class="register-modal-close-button">✕</button>
    <p class="register-modal-text">
      Привіт! <br> Ви потрапили на сайт інтерактивних ігор та завдань <br>Надіємось, що
      вам сподобається і ви отримаєте позитивні емоції! <br> Бажаємо Вам гарно
      провести час!
    </p>
    <form action="post" class="register-modal-form js-register-modal-form">
        <label for="name" class="register-modal-form-label">
            Введіть своє ім’я: <br>
            <input type="text" id="name" name="name" class="register-modal-form-input js-input" placeholder="Ваше ім’я...">
        </label>
        <button type="submit" class="register-modal-form-button js-register-modal-form-button">Зберегти</button>
    </form>
  </div>
</div>
