<section id="time-calculator">
    <div class="container">
        <h2 class="section-title">Калькулятор часу</h2>
        <div class="section-box">
            <form class="form" style="position: relative;">
                <label class="section-input-label"> 
                    <input type="number" class="section-input js-section-input" placeholder="Введіть число" />
                </label>
                <button type="button" class="input-btn js-input-btn">
                    <img src="images/lupe.png" alt="#">
                </button>
            </form>
            <span class="dots">-----------------------</span>
            <p class="time-results">3 дн. 15:45:01</p>
        </div>
    </div>
    <div class="line"></div>
</section>