<section id="year-of-birth">
    <div class="container">
    <h1 class="title">Популярні інетрактивні ігри</h1>
        <h2 class="section-title">Перевір в який рік ти народився</h2>
        <div class="year-of-birth-box">
            <label class="year-of-birth-label"> 
                <input type="number" class="year-of-birth-input" placeholder="Введіть рік народження" />
            </label>
            <button type="button" class="year-of-birth-btn">
                <img src="../images/lupe.svg" alt="#">
            </button>
            <p class="year-of-birth-text">Ви народилися у високосний рік!</p>
        </div>
    </div>
</section>